# Dockerfile
Dockerfile
README.md

# Pycharm
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
/src.egg-info/

# Jupyter
.ipynb_checkpoints
.ipynb

# Data
*.parquet.brotli
*.csv
*.json
*.pkl

# Milvus
/milvus/
/volumes/
docker-compose.yml
*.snap
*.wal
*.sst
*.log
*.meta
*.bin

# Python
plot_dash.py


